*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: black 0.5px solid;
}
html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#main{
    padding: 40px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    padding: 10px;
    text-decoration: none;
    background-color: black;
    color: white;
}

#filAriane{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#filAriane a{
    text-decoration: none;
    color: gray;
}
#filAriane a:hover{
    text-decoration: none;
    color: gray;
    opacity: 0.5;
}