*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: #ffffff 0.5px solid;*/
}
html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    padding: 10px;
    text-decoration: none;
    background-color: black;
    color: white;
}