<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <title>Intruder's Documentation</title>
</head>
<body>
    <header>
        <nav>
            <a href="/home">Intruder</a>
            <a href="/home/scans">Scans</a>
            <a href="/home/reports">Reports</a>
            <a href="/home/docs">Documentation</a>
        </nav>
    </header>

    <div id="IntruderDocs">
        <h1>What is Intruder?</h1>
    </div>

    <div></div>
</body>
</html>