<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intruder</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /*border: #ffffff 0.5px solid;*/
        }
        html{
            height: 100%;
            width: 100%;
        }

        ul{
            list-style: none;
            padding: auto;
        }
      
        nav {
            display: flex;
            flex-direction: rows;
            justify-content: space-evenly;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="/home">Intruder</a>
            <a href="/home/scans">Scans</a>
            <a href="/home/reports">Reports</a>
        </nav>

        <div id="main">
            <h1>Intruder</h1>

            <p>
                Intruder est un outil conçu pour assister les pentesteurs lors de leurs missions
            </p>

            <h2>Fonctionnalités</h2>

            <ul>
                <li>Reconnaissance <a href="">active</a> et <a href="">passive</a></li>
                <li><a href="">Scans de ports</a> de ports</li>
                <li>Recherche de <a href="">Vulnérabilités</a></li>
                <li>Recherche d'<a href="">Exploits</a></li>
                <li><a href="">Reporting</a></li>
            </ul>
        </div>
    </header>
</body>
</html>