<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intruder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    
</head>
<body>
    <header>
        <nav>
            <a href="/home">Intruder</a>
            <a href="/home/scans">Scans</a>
            <a href="/home/reports">Reports</a>
            <a href="/home/docs">Documentation</a>
        </nav>

        
    </header>
    <div id="main">

        <div id="filAriane">
            <a href="/home">Home /</a>
        </div>
        <h1>Intruder</h1>

        <p>
            Intruder est un outil conçu pour assister les pentesteurs lors de leurs missions
        </p>

        <h2>Fonctionnalités</h2>

        <ul id="indexUL">
            <li>Reconnaissance <a href="">active</a> et <a href="">passive</a></li>
            <li><a href="">Scans de ports</a> de ports</li>
            <li>Recherche de <a href="">Vulnérabilités</a></li>
            <li>Recherche d'<a href="">Exploits</a></li>
            <li><a href="">Reporting</a></li>
        </ul>
    </div>
</body>
</html>