<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intruder - Register</title>
     <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script  src="{{ url_for('static', filename='main.js') }}"  defer></script>

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <i class="fa-solid fa-shield-halved" style="color: #00ff88;"></i>
                Intruder
            </div>
            <ul class="nav-links">
                {% if user.is_authenticated %}
                <li><a href="/home" >Home</a></li>
                <li><a href="/home/scans">Scans</a></li>
                <li><a href="/home/docs">Documentation</a></li>
                <li><a href="/logout" class="cta-link">Logout</a></li>
                {% else %}
                <li><a href="/login" class="cta-link">Login</a></li>
                <li><a href="/register" class="cta-link">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable  fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% elif category == 'success' %}
        <div class="alert alert-success alter-dismissable  fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="container">
        <div class="login-form">
            <h2>Create an Account</h2>
            <form action="/register" method="post">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm_password" required>
                </div>
                <div class="input-group">
                    <label for="groqApi">Groq API Key</label>
                    <input type="text" id="groqApi" name="groqApi" placeholder="Optional: GroqAPiKey But LLM won't work without it" required>
                </div>
                <div class="input-group">
                    <label for="zapApi">ZAP API Key</label>
                    <input type="text" id="zapApi" name="zapApi" placeholder="ZAP API Key" required>
                </div>
                <button type="submit">Register</button>
            </form>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <div class="cta-login">
                <p>Already have an account? <a href="/login" class="cta-link">Login here</a></p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p class="footer-text">Intruder - Automated Penetration Testing Tool</p>
    </div>
    <script>
        document.querySelectorAll('.nav-links a').forEach(link => {
            if (link.href === window.location.href) {
                link.classList.add('active');
            }
        });
    </script>
</body>
</html>
