<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <title>Intruder's reporting</title>
    
</head>
<body>
    <header>
        <nav>
            <a href="/home">Intruder</a>
            <a href="/home/scans">Scans</a>
            <a href="/home/reports">Reports</a>
        </nav>

        
    </header>
    <div id="main">
        <h2>Reporting</h2>
        <p>Here you create a reports</p>

    </div>
</body>
</html>