<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intruder's scan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    
</head>
<body>
    <header>
        <nav>
            <a href="/home">Intruder</a>
            <a href="/home/scans">Scans</a>
            <a href="/home/reports">Reports</a>
        </nav>

        
    </header>
    <div id="main">

        <div id="filAriane">
            <a href="/home">Home /</a><a href="/home/scans">Scans /</a><a href="/home/scans/{{scan}}">{{scan}} /</a>
        </div>
        <h2>Scans</h2>
        <p>This is scan id : {{scan}}</p>

        <div id="whois">
            {% for detail in scansContent%}
                <div>
                    {% if detail[1] == 'whois'%}
                        <h2>WHOIS RECORDS</h2>
                        <p>{{detail[2]}}</p>
                    {% endif %}

                    {% if detail[1] == 'nmap'%}
                        <h2>NMAP RECORDS</h2>
                        <p>{{detail[2]}}</p>
                    {% endif %}

                    {% if detail[1] == 'nuclei'%}
                        <h2>NUCLEI RECORDS</h2>
                        <p>{{detail[2]}}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div id="nmap">

        </div>


    </div>
</body>
</html>