<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intruder's scans</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   
</head>
<body>
    <header>
        <nav>
            <a href="/home">Intruder</a>
            <a href="/home/scans">Scans</a>
            <a href="/home/reports">Reports</a>
            <a href="/home/docs">Documentation</a>
        </nav>

        
    </header>
    <div id="main">
        <div id="filAriane">
            <a href="/home">Home /</a><a href="/home/scans">Scans /</a>
        </div>
        <h2>Scans</h2>
        <p>See all your scans here</p>
        <ul>
            {% for scan in content%}
                <li><a href="/home/scans/{{scan}}">{{scan}}</a></li>
            {%endfor%}
        </ul>
        
    </div>
</body>
</html>