<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intruder's scans</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   
</head>
<body>
    <header>
        <nav>
            <a href="/home">Intruder</a>
            <a href="/home/scans">Scans</a>
            <a href="/home/reports">Reports</a>
        </nav>

        <div id="main">
            <h2>Scans</h2>
            <p>Se all your scans here</p>

        </div>
    </header>
</body>
</html>