<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intruder's scans</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /*border: #ffffff 0.5px solid;*/
        }
        html{
            height: 100%;
            width: 100%;
        }

        ul{
            list-style: none;
            padding: auto;
        }
      
        nav {
            display: flex;
            flex-direction: rows;
            justify-content: space-evenly;
        }

    </style>
</head>
<body>
    <header>
        <nav>
            <a href="/home">Intruder</a>
            <a href="/home/scans">Scans</a>
            <a href="/home/reports">Reports</a>
        </nav>

        <div id="main">
            <h2>Scans</h2>
            <p>Se all your scans here</p>

        </div>
    </header>
</body>
</html>